// https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_theme.styl
@import '~vuetify/src/stylus/theme.styl'

$material-light.background = #e6ecf0
$button-text-transform = none

@import '~vuetify/src/stylus/main.styl'