$accentColor = #1976d2
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.theme-container.api
  h2
    font-size 1.4rem

  h3
    font-size 1.2rem

  .language-js
    background-color #2c3e50