.navbar
  // background-color rgba(255, 255, 255, 0.89)

  // .logo
  //   background white
    // min-width 30px

  .home-link
    @media screen and (max-width: 719px)
      position absolute
      left 50%
      transform translateX(-50%)

  .logo
    @media screen and (max-width: 719px)
      margin-right 0

      // display none
    // border-radius 4px 4px 0 0
    // padding 4px 12px 8px 12px

  // .sidebar-button
  //   color #ffffff

  // .links
    // background none
  //   color #ffffff

  //   .icon.outbound
  //     color #ffffff

  //   .nav-links a:hover, .nav-links a.router-link-active
  //     color #eeeeee
  //     border-color: #ffffff

.hero 
  img
    width 100%
    max-width 360px
  h1
    display none


.site-name
  display none !important
  span
    color #ffffff

blockquote
  font-size: 1.0rem
  border-color: #03A6ED
 