.navbar
  background-color #1976d2e3

  .logo
    background white
    min-width 30px
    border-radius 4px 4px 0 0
    padding 4px 12px 8px 12px

  .sidebar-button
    color #ffffff

  .links
    background none
    color #ffffff

    .icon.outbound
      color #ffffff

    .nav-links a:hover, .nav-links a.router-link-active
      color #eeeeee
      border-color: #ffffff

.site-name
  display none !important
  span
    color #ffffff
 